@import "tailwindcss";



@theme {
    --breakpoint-xxs: 388;
    --breakpoint-xs : 480;

    --spacing-74: 300px;

    --font-Salmoon: "Salmoon", "sans-serif";

}

@font-face {
    font-family: Salmoon;
    font-weight: 100;
    font-size:large;
    src: url("./fonts/Salmon-Season.woff" ) format("woff");
}