@import "tailwindcss";

/* TODO LO RELACIONADO A TAILWINDCSS PERSONALIZADO AQUI */

@theme{
    --breakpoint-xxs: 24rem;
    --breakpoint-xs : 30rem;

    --spacing-74: 300px;
    --spacing-90: 630px;
    --spacing-120: 980px;


    --font-Salmoon: "Salmoon", "sans-serif";

}

@font-face {
    font-family: Salmoon;
    font-weight: 100;
    font-size:large;
    src: url("./fonts/Salmon-Season.woff" ) format("woff");
}